# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/
build/
dist/
.DS_Store

# IDE
.vscode/
.idea/

# Phidias
*.glb
!emma-stylized-adventure-character/source/1.glb
